<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a
        </div>
        <div>
            &copy; Travel Hub 2025
        </div>
        <div>
            <small>
            Developed by Sheersho Banerjee
            </small>
        </div>
        <div class="f-info-links">
            <a href="/about">About</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/support">Customer Support</a>
        </div>
    </div>
</footer>